# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- Données Volumineuses ---
data/*.laz
!data/exemple.laz

# --- Sorties Générées ---
outputs/*
!outputs/.gitkeep

# --- Système ---
.DS_Store
Thumbs.db